# Duplicate this to .env
APP_URL='your app url' ## required for next-sitemap and stripe

GOOGLE_SITE_VERIFICATION_ID='your google verification id' ## not required
NEXTAUTH_URL='http://localhost:3000' ## Only required for localhost
