@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 16px;
  }

  .not-akira .font-akira {
    font-family: var(--font-mont) !important;
    font-weight: 800;
  }

  /* предотвращает скачки при открытии/закрытии диалога */
  body:has([data-state='open']) {
    overflow: hidden;
  }

  /* плавный скролл для якорных ссылок */
  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 12%;
    --primary-foreground: 40 18% 97%;
    --secondary: 35 69% 64%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  .clip-image {
    mask-image: radial-gradient(at 40%, #000 15%, #0000 70%);
    -webkit-mask-image: radial-gradient(at 40%, #000 15%, #0000 70%);
  }

  .clip-image-partnership {
    mask-image: radial-gradient(
      ellipse at center,
      #000 0%,
      transparent 70%,
      #0000 70%
    );
    -webkit-mask-image: radial-gradient(
      ellipse,
      #000 0%,
      transparent 70%,
      #0000 70%
    );
  }
  @media (max-width: 640px) {
    .clip-image {
      mask-image: radial-gradient(at 50%, #000 15%, #0000 70%);
      -webkit-mask-image: radial-gradient(at 50%, #000 15%, #0000 70%);
    }
  }

  .flip-clock {
    --fcc-flip-duration: 0.5s; /* transition duration when flip card */
    --fcc-spacing: 4px; /* space between unit times and separators */
    --fcc-digit-block-width: 64px; /* width of digit card */
    --fcc-digit-block-height: 64px; /* height of digit card, highly recommend in even number */
    --fcc-digit-block-radius: 12px; /* border radius of digit card */
    --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
    --fcc-digit-font-size: 64px;
    --fcc-divider-height: 2px;
    --fcc-divider-color: rgb(
      41 41 41 / var(--tw-bg-opacity, 1)
    ); /* color of divider */
    --fcc-digit-color: rgb(
      41 41 41 / var(--tw-bg-opacity, 1)
    ); /* color of digit */
    --fcc-background: white; /* background of digit card */
  }
  @media (max-width: 1024px) {
    .flip-clock {
      --fcc-flip-duration: 0.5s; /* transition duration when flip card */
      --fcc-spacing: 2px; /* space between unit times and separators */
      --fcc-divider-height: 1px;
      --fcc-digit-block-width: 45px; /* width of digit card */
      --fcc-digit-block-height: 45px; /* height of digit card, highly recommend in even number */
      --fcc-digit-block-radius: 6px; /* border radius of digit card */
      --fcc-digit-block-spacing: 4px; /* space between blocks in each unit of time */
      --fcc-digit-font-size: 32px;
    }
  }
  @media (max-width: 640px) {
    .flip-clock {
      --fcc-flip-duration: 0.5s; /* transition duration when flip card */
      --fcc-spacing: 2px; /* space between unit times and separators */
      --fcc-divider-height: 1px;
      --fcc-digit-block-width: 30px; /* width of digit card */
      --fcc-digit-block-height: 30px; /* height of digit card, highly recommend in even number */
      --fcc-digit-block-radius: 6px; /* border radius of digit card */
      --fcc-digit-block-spacing: 4px; /* space between blocks in each unit of time */
      --fcc-digit-font-size: 20px;
    }
  }
  .flip-clock .fcc__digit_block {
    @apply *:!font-bold;
  }
}

@layer utilities {
  .custom-shadow {
    box-shadow: 0 0 1px rgba(30, 30, 30, 0.4);
  }
  .shadow-inner {
    @apply shadow-[inset_0px_4px_4px_0px_rgba(0,0,0,0.25)];
  }
  .input-shadow {
    @apply shadow-[0px_4px_4px_#00000040];
  }

  .burger-button {
    @apply p-0 bg-transparent border-none w-12 aspect-square relative shadow-none;

    &::after {
      content: '';

      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2 h-0.5 bg-primary-foreground rounded-[5px] shadow-[0px_-8px_0px_0px_hsl(var(--primary-foreground)),0px_8px_0px_0px_hsl(var(--primary-foreground))];
    }
  }

  .cross-button {
    @apply p-0 bg-transparent border-none w-12 aspect-square relative shadow-none;

    &::before,
    &::after {
      content: '';

      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2 h-0.5 bg-primary-foreground rounded-[5px];
    }
    &::before {
      @apply rotate-45;
    }
    &::after {
      @apply -rotate-45;
    }
  }

  .next-button-bg {
    box-shadow: -1px 9px 46px -6px rgba(174, 113, 41, 0.8),
      0 20px 60px 0 rgba(232, 205, 110, 0.2),
      -15px -14px 38px 0 rgba(211, 70, 155, 0.4),
      inset 0 0 20px 0 rgba(255, 255, 255, 0.6);
    background: radial-gradient(
        178.09% 220.16% at 94.89% -132.81%,
        #ff7a00 67.59%,
        rgba(255, 199, 0, 0.38) 100%
      ),
      radial-gradient(
        137.51% 118.3% at 32.95% 0%,
        rgba(255, 137, 137, 0.92) 21.25%,
        rgba(255, 169, 106, 0.57) 88.62%
      ),
      radial-gradient(
        182.56% 55.34% at 5.68% 100%,
        rgba(246, 251, 34, 0.51) 0%,
        rgba(255, 158, 69, 0) 100%
      ),
      radial-gradient(
        238.39% 44.19% at 96.59% 31.25%,
        #fff 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #fff500 !important;
  }

  .next-button {
    @apply hover:opacity-80;

    &:hover .next-button-bg {
      @apply hover:opacity-80;
    }

    box-shadow: -1px 9px 46px -6px rgba(174, 113, 41, 0.8),
      0 20px 60px 0 rgba(232, 205, 110, 0.2),
      -15px -14px 38px 0 rgba(211, 70, 155, 0.4),
      inset 0 0 20px 0 rgba(255, 255, 255, 0.6);
    background: radial-gradient(
        178.09% 220.16% at 94.89% -132.81%,
        #ff7a00 67.59%,
        rgba(219, 255, 0, 0.38) 100%
      ),
      radial-gradient(
        112.91% 147.56% at 43.75% -31.25%,
        rgba(255, 137, 137, 0.92) 21.25%,
        rgba(255, 169, 106, 0.57) 88.62%
      ),
      radial-gradient(
        56.27% 117.62% at 37.5% 100%,
        rgba(255, 255, 255, 0.73) 0%,
        rgba(255, 255, 255, 0.12) 100%
      ),
      #fff500;
  }
  .previous-button-bg {
    background: radial-gradient(
        132.71% 129.73% at 63.64% -12.5%,
        rgb(133, 40, 251) 0%,
        rgb(86, 84, 74) 100%
      ),
      radial-gradient(
        189.21% 70.1% at 15.34% 39.06%,
        rgb(131, 113, 243) 0%,
        rgb(69, 156, 236) 100%
      ),
      radial-gradient(
        51.42% 94.92% at 19.32% 40.62%,
        rgb(24, 100, 183) 0%,
        rgb(23, 61, 102) 100%
      ),
      radial-gradient(
        23.21% 114.66% at 43.75% -31.25%,
        rgb(24, 17, 24) 21.246936917304993%,
        rgb(0, 0, 0) 100%
      ),
      #030303;
    box-shadow: 10px 20px 80px 0 rgba(122, 33, 237, 0.3),
      -20px -20px 50px 0 rgba(42, 94, 142, 0.5),
      0 20px 30px 0 rgba(64, 100, 228, 0.3),
      inset 0 0 30px 0 rgba(255, 255, 255, 0.3);
  }

  .previous-button {
    @apply hover:opacity-80;

    &:hover .previous-button-bg {
      @apply hover:opacity-80;
    }

    background: radial-gradient(
        132.71% 129.73% at 63.64% -12.5%,
        rgb(133, 40, 251) 0%,
        rgb(86, 84, 74) 100%
      ),
      radial-gradient(
        189.21% 70.1% at 15.34% 39.06%,
        rgb(131, 113, 243) 0%,
        rgb(69, 156, 236) 100%
      ),
      radial-gradient(
        51.42% 94.92% at 19.32% 40.62%,
        rgb(24, 100, 183) 0%,
        rgb(23, 61, 102) 100%
      ),
      #030303;
    box-shadow: 10px 20px 80px 0 rgba(122, 33, 237, 0.3),
      -20px -20px 50px 0 rgba(42, 94, 142, 0.5),
      0 20px 30px 0 rgba(64, 100, 228, 0.3),
      inset 0 0 30px 0 rgba(255, 255, 255, 0.3);
  }

  .landing-circle {
    box-shadow: 0 0 86px 0 #ffe1ff, 0 0 172px 0 #564dd5, 0 0 250px 0 #564dd5,
      0 350px 0 #564dd5, 0 0 400px 0 #564dd5,
      inset 0 0 20px #ffe1ff;
    border: 2px solid white;
    clip-path: polygon(0 -100%, 100% -100%, 100% 30%, 0 30%);
  }
}

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-custom-dark text-foreground;
  }
}
